& when (@media-common = true) {
    @media (min-width: 640px) {
        #product-item-info:not(:hover):not(.active), #product-item-inner {
            margin: auto;
            overflow: visible;
            clip: auto;
            position: static;
            padding: inherit;
            width: auto;
            border: 0;
            box-shadow: none;
            height: auto;
        }
        #product-item-inner {
            margin: auto;
            position: static;
        }
        #product-item-info:hover{
            background: #ffffff;
            box-shadow: none;
            border: none;
            margin: auto;
            padding: 0;
            position: static;
            z-index: 9;
        }
        .add-to-card-button.action {
            color: #212529;
            background: #eeeeee;
            border: 1px solid #cccccc;
            &:hover {
                background: #1979c3;
                border: 1px solid #1979c3;
                color: #ffffff;
            }
        }
    }
}
